# mpv: ignore "watch_later" files
/home/username/.config/mpv/watch_later/*

# music: ignore "m3u8" playlist files
/home/username/music/playlists/*.m3u8
## yotuube-dl: ignore "list" files
/home/username/music/youtube-dl/archive_lists/*.list
/home/username/music/youtube-dl/batch_file_lists/*.list

# nvim: ignore undo files
/home/username/.config/nvim/tmp/backup/*
/home/username/.config/nvim/tmp/swp/*
/home/username/.config/nvim/tmp/undo/*

# ssh: ignore configuration files
/home/username/.ssh/cm/*
/home/username/.ssh/config.d/*
/home/username/.ssh/keys/*
/home/username/.ssh/known_hosts*
/home/username/.ssh/known_hosts.d/*
/root/.ssh/cm/*
/root/.ssh/config.d/*
/root/.ssh/keys/*
/root/.ssh/known_hosts*
/root/.ssh/known_hosts.d/*
