[user]
    email = Ramon_Fischer@hotmail.de
    name = Ramon Fischer
    signingkey = 598398DA5F4DA46438FDCF87155BE26413E699BF
[include]
    path = ~/.gitconfig.d/gitalias.txt
[alias]
    callm = commit --all --message
    cv = commit --verbose
    d = diff --color-words
    dp = checkout --patch
    # git config lfs.https://<some_fqdn>/keks24/<some_repository_name>/info/lfs.locksverify true
    lfst = lfs track
    lfsin = lfs migrate info --everything --fixup
    lfsim = lfs migrate import --fixup --verbose
    lfsl = lfs ls-files
    lfss = lfs status
    rp = reset --patch
    # this also restores the staging directory
    stashai = stash apply --index
    stashp = stash pop
    stashs = stash show
#[pull]
#    rebase = true
[commit]
    gpgsign = true
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
